p{
    background-color:#A9A9A9;
}

header{
  background-color:#D3D3D3;

}
h1{
  text-align:center;
  color:#ffffff;
  text-transform:uppercase;
}
h2{
  color:#0000FF;
  text-transform:uppercase;
}
section{
  background-color:#A9A9A9
}
a{
  background-color:#D3D3D3;
    color:black
}
img{
  display:none;
}
$10-worth New Year Gift for You
Make your 2022 productive
with LINER Premium

Dismiss
Open the gift